.service-container {
  text-align: center;
}

.service-container h3 {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 13px;
  color: #1683fc;
  margin-bottom: 5px;
}

.service-container h2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 35px;
  color: #1b2336;
  margin-bottom: 100px;
  text-align: center;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 50px;
  margin-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.service-cards .service-card {
  text-align: center;
  padding: 50px 70px 80px 70px;
}

.service-card .img-container {
  width: 100%;
}
.service-card .img-container img {
  height: 200px;
  object-fit: contain;
  margin-top: -110px;
  margin-bottom: 30px;
}
.service-card .service-card-title {
  text-align: center;
}

.service-card h5 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  font-size: 50px;
  min-width: 70%;
  color: #1d5ab8;
}

.service-btn {
  background: #2279fc;
  border: 1px solid #2279fc;
  border-radius: 3px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  padding: 15px 40px;
  margin-top: 100px;
}

.service-btn:hover {
  background-color: #ffffff;
  color: #3270ff;
  cursor: pointer;
}

.service-card {
  background: #ecf7ff;
  padding: 0 20px 20px 20px;
}
