.help-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 120px;
  margin-bottom: 50px;
}

.help-box-left {
  position: relative;
}

.helparrow-img {
  width: 155%;
  position: absolute;
  bottom: -75px;
  right: 30px;
}

.help-left h3 {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  color: #1683fc;
  margin-bottom: 10px;
}

.help-left h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 30px;
  color: #1b2336;
  margin-bottom: 25px;
}

.help-para {
  margin-bottom: 25px;
}

.help-left p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  color: #415674;
}

.help-left-boxes {
  display: flex;
}

.help-box-left {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.help-box-right {
  display: flex;
  flex-direction: column;
}

.help-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #e3e9ed;
  border-radius: 5px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  color: #1b2336;
  margin-bottom: 20px;
  cursor: pointer;
}

.help-box:hover {
  border: 1px solid #1683fc;
}

.check-icon {
  color: #1683fc;
  margin-right: 10px;
}

.help-right img {
  width: 578px;
}
