.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 50px 100px 50px;
  gap: 80px;
}

.hero-left {
  position: relative;
  margin-left: 40px;
}

.hero-left img {
  width: 40%;
  position: absolute;
  left: -130px;
  top: -60px;
}

.hero-left h1 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 50px;
  color: #1b2336;
  margin-bottom: 30px;
}

.hero-left p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 15px;
  color: #415674;
  margin-bottom: 30px;
}

.hero-left:last-child {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  color: #415674;
}

.hero-left a {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  color: #2279fc;
}

.checkout-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkout-section h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 30px;
  color: #1b2336;
  margin-right: 20px;
}

.play-btn {
  padding: 15px 30px;
  background: #1b2336;
  border: 1px solid #2279fc;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.play-btn:hover,
.app-btn:hover {
  border: 1px solid #2279fc;
  background-color: #2279fc;
  color: white;
}

.app-btn {
  padding: 15px 30px;
  background: #f8fafb;
  border: 1px solid #e3e9ed;
  cursor: pointer;
}

.hero-right img {
  width: 500px;
}
