.feature-container{
    margin-bottom: 70px;
}

.feature-text p{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #3270FF;
}

.feature-text h2{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #1B2336;
}

.feature-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    min-height: 350px;
    width: 300px;
    margin-top: 50px;
}

.card h2{
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card p{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 16px;
    color: #415674;
    text-align: left;
}