.provide-section {
  background-image: url("../../Images/ellipse.png");
  background-repeat: no-repeat;
  background-size: 44%;
  background-position: bottom left;
}

.provide-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.provide-right h3 {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 13px;
  color: #3270ff;
  margin-bottom: 30px;
}

.provide-right-text h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 35px;
  color: #1b2336;
  margin-bottom: 30px;
}

.provide-right-text p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  color: #415674;
  margin-bottom: 20px;
}

.percentage {
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 50px rgba(50, 112, 252, 0.08);
  transition: all 0.5s ease;
}
.percentage:not(:last-of-type) {
  margin-bottom: 10px;
}

.black {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 35px;
  color: #1b2336;
  margin-right: 20px;
  padding: 20px 20px;
}

.percentage:hover .black {
  color: #fff;
  background-color: #3270ff;
  cursor: pointer;
}

.percentage p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 18px;
  color: #415674;
}
