.telehealth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.telehealth-left-col h3 {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 13px;
  color: #1683fc;
  margin-bottom: 15px;
}

.telehealth-left-col h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 35px;
  color: #1b2336;
  margin-bottom: 40px;
}

.telehealth-left-col p {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  color: #415674;
}

.first-para {
  margin-bottom: 15px;
  padding-right: 400px;
}

.second-para {
  margin-bottom: 30px;
  padding-right: 350px;
}

.telehealth-btn {
  height: 50px;
  width: 246px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background: #2279fc;
  border: 1px solid #2279fc;
  border-radius: 3px;
}

.telehealth-btn:hover {
  color: #2279fc;
  background: #ffffff;
  cursor: pointer;
}
